


header{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
}

#logo{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    width: 120px;
    height: 120px;
}
#pub {
    display: flex;
    align-items: center;
    background-color: red;
    width: 90ex;
    height: 120px;
    
}
#menu {
    background-color: green;
}